body{
  font-family: sans-serif;
}

/*TYPOGRAPHY*/
h1 {
  padding-bottom: 40px;
}
h1,
h2 {
  text-align: center;
  margin:30px;
}

h2{
  padding-top: 30px;
  padding-bottom: 20px;
}
.box {
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-top: 30px;
  /*background: #daa520;
  border: 1px solid rgba(0, 0, 0, 0.1);*/
}

.col-lg-12 img {
  max-width: 200px;
  max-height:100px;
  margin-top: 30px;
  padding-bottom: 20px;
  display:block;
  margin:0px auto;
  text-align:center;
  }


.col-xs-12 img {
  max-width:200px;
  max-height:100px;
  margin-top: 30px;
  padding-bottom: 20px;
  display:block;
  margin:0px auto;
  text-align:center;
    }

.col-md-6 p {
          font-size: 15px;
          text-align: center;
          margin-bottom: 30px;
          padding-top: 20px;
        }
        
.col-md-4 p {
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px;

}
.col-md-12 img {
      background-color: #428bca;
      border-radius: 50%;
      padding: 30px
    }

.col-md-12 p {
      font-size: 15px;
      text-align: center;
      margin-bottom: 30px;
      padding-top: 20px;
    }

.col-lg-6 p {
              font-size: 17px;
              text-align: center;
              margin-bottom: 30px;
              padding-top: 20px;
            }
.col-lg-6 img {
  {
    max-width: 300px;
    max-height:200px;
    margin-top: 30px;
    padding-bottom: 20px;
    /*display:block;*/
    margin:0px auto;
    text-align:center;
    }

}
.col-lg-4 p {
  font-size: 17px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px;

}
.col-lg-12 img {
          background-color: #428bca;
          border-radius: 50%;
          padding: 30px
        }

.col-lg-12 p {
          font-size: 17px;
          text-align: center;
          margin-bottom: 30px;
          padding-top: 20px;
        }
