body{
  font-family: sans-serif;
}

/*TYPOGRAPHY*/
h1,
h2 {
  text-align: center;
  margin:30px;
}

h2{
  padding-top: 30px;
}
.box {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  padding-bottom: 20px;
  /*background: #daa520;
  border: 1px solid rgba(0, 0, 0, 0.1);*/
}
